.landingPageContainer{
  height: 100vh;
  width: 100vw;
  background:url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  padding: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 700;
}

.landingPageContainer nav .navList{
display: flex;
gap: 2.4rem;
font-weight: 700;
}


.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height:80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1){
font-size: 1.8rem;
}


.landingMainContainer > div:nth-child(1) div[role="button"]{
 background-color: #D97500;
 width: fit-content;
 padding: 1rem;
 border-radius: 20px;
  margin-top: 2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a{
  text-decoration: none;
  color:white;
  font-size:1.7rem;
}

.landingMainContainer > div:nth-child(2) img{
  height:70vh;
  width: auto;
  padding: 1rem;
}